.blacklist-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

h2 {
  color: #6f42c1;
}

.blacklist-item {
  display: flex;
  align-items: center;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  max-width: 400px;
  justify-content: space-between;
}

.blacklist-item:hover {
  background-color: #f5f5f5;
}

.avatar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.avatar {
  border-radius: 50%;
  border: 2px solid #6f42c1;
}

.default-avatar {
  font-size: 24px;
  color: #6f42c1;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e0e0e0;
}

.profile-info {
  flex-grow: 1;
}

.remove-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: #e74c3c;
}

.remove-button:hover {
  color: #c0392b;
}

.remove-button i {
  pointer-events: none;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  max-width: 440px;
  width: 60%;
  position: relative;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}
