.loading-message {
  font-size: 14px;
  color: #007bff;
  margin-bottom: 10px;
}

.select-input {
  display: block;
  width: 100%;
  padding: 8px 12px;
  margin-bottom: 20px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  background-color: #ffffff;
  font-size: 14px;
  color: #495057;
}

.select-input option {
  padding: 8px;
}
