<header class="header" [class.collapsed]="!isMenuVisible">
  <div class="toggle-btn" (click)="toggleMenu()">
    <i *ngIf="!isMenuVisible" class="fas fa-bars"></i>
    <i *ngIf="isMenuVisible" class="fas fa-times"></i>
  </div>

  <nav>
    <button *ngIf="isUser()" (click)="notificationsComponent?.toggleNotifications()">
      <i class="fas fa-bell"></i>
      <span *ngIf="isMenuVisible">Уведомления</span>
    </button>

    <button *ngIf="isLoggedIn$" (click)="logOut()">
      <i class="fas fa-sign-out-alt"></i>
      <span *ngIf="isMenuVisible">Выйти</span>
    </button>

    <div *ngIf="isLoggedIn$">
      <button *ngIf="isAdmin() || isModerator()" [routerLink]="['/admin-panel']">
        <i class="fas fa-tools"></i>
        <span *ngIf="isMenuVisible">Панель администратора</span>
      </button>

      <button *ngIf="isUser()" [routerLink]="['/profile']">
        <i class="fas fa-user"></i>
        <span *ngIf="isMenuVisible">Мой профиль</span>
      </button>

      <button *ngIf="isUser()" [routerLink]="['/find-match']">
        <i class="fas fa-search"></i>
        <span *ngIf="isMenuVisible">Поиск</span>
      </button>

      <button *ngIf="isUser()" [routerLink]="['/matches']">
        <i class="fas fa-heart"></i>
        <span *ngIf="isMenuVisible">Совпадения</span>
      </button>

      <button *ngIf="isUser()" [routerLink]="['/chats']">
        <i class="fas fa-comments"></i>
        <span *ngIf="isMenuVisible">Чаты</span>
      </button>

      <button *ngIf="isUser()" [routerLink]="['/settings']">
        <i class="fas fa-cog"></i>
        <span *ngIf="isMenuVisible">Настройки</span>
      </button>
    </div>
  </nav>
</header>

<app-notifications #notificationsComponent></app-notifications>
