.interests-container {
  margin-top: 20px;
  padding: 20px;
  background-color: #f3e5f5;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.interests-container h2 {
  color: black;
  font-size: 20px;
}

.interests-list {
  display: flex;
  flex-wrap: wrap;
}

.interests-list div {
  margin: 5px;
  padding: 10px;
  border: 1px solid #d1c4e9;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.interests-list div:hover {
  background-color: #e1bee7;
}

.interests-list div.selected {
  background-color: #7e57c2;
  color: #fff;
}
