<form [formGroup]="profileForm" (ngSubmit)="onSubmit()" class="profile-form">
  <h5>Создание профиля</h5>
  <label for="name">Имя:</label>
  <input id="name" formControlName="name" type="text" >
  <div class="error-message">{{ getErrorMessage('name', this.profileForm) }}</div>

  <label for="lastName">Фамилия:</label>
  <input id="lastName" formControlName="lastName" type="text">
  <div class="error-message">{{ getErrorMessage('lastName', this.profileForm) }}</div>

  <label for="birthDate">Дата рождения:</label>
  <input id="birthDate" formControlName="birthDate" type="date">
  <div class="error-message">{{ getErrorMessage('birthDate', this.profileForm) }}</div>

  <label for="gender">Пол:</label>
  <select id="gender" formControlName="gender" class="select-input">
    <option *ngFor="let gender of genders" [value]="gender.value">{{ gender.key }}</option>
  </select>
  <div class="error-message">{{ getErrorMessage('gender', this.profileForm) }}</div>

  <label for="bio">О себе:</label>
  <textarea id="bio" formControlName="bio"></textarea>
  <div class="error-message">{{ getErrorMessage('bio', this.profileForm) }}</div>

  <label for="height">Рост:</label>
  <input id="height" formControlName="height" type="number">
  <div class="error-message">{{ getErrorMessage('height', this.profileForm) }}</div>

  <label for="showAge">Показывать возраст:</label>
  <input id="showAge" formControlName="showAge" type="checkbox">
  <div class="error-message">{{ getErrorMessage('showAge', this.profileForm) }}</div>

  <label for="ageFrom">Возраст от:</label>
  <input id="ageFrom" formControlName="ageFrom" type="number" min="16" max="100">
  <div class="error-message">{{ getErrorMessage('ageFrom', this.profileForm) }}</div>

  <label for="ageTo">Возраст до:</label>
  <input id="ageTo" formControlName="ageTo" type="number" min="16" max="100">
  <div class="error-message">{{ getErrorMessage('ageTo', this.profileForm) }}</div>

  <label for="maxDistance">Расстояние(км):</label>
  <input id="maxDistance" formControlName="maxDistance" type="number" min="0" max="1000">
  <div class="error-message">{{ getErrorMessage('maxDistance', this.profileForm) }}</div>

  <label for="preferredGender">Предпочетаемый пол:</label>
  <select id="preferredGender" formControlName="preferredGender" class="select-input">
    <option *ngFor="let gender of genders" [value]="gender.value">{{ gender.key }}</option>
  </select>
  <div class="error-message">{{ getErrorMessage('preferredGender', this.profileForm) }}</div>

  <label>Цель:</label>
  <app-goal-select (goalSelected)="onGoalSelected($event)"></app-goal-select>

  <label>Страна:</label>
  <app-country-select (countrySelected)="onCountrySelected($event)"></app-country-select>

  <label>Город:</label>
  <app-city-select [countryId]="selectedCountryId" (citySelected)="onCitySelected($event)"></app-city-select>
  <div class="error-message">{{ getErrorMessage('cityId', this.profileForm) }}</div>

  <button type="submit" mat-raised-button color="primary">Создать</button>
</form>
